.node-type-individual-data-ma .vertical-tabs-panes fieldset.active {min-height: 700px;}
.main-container #edit-actions {width: 220px; position: relative;  }
.page-node-edit.node-type-individual .tabs--primary.nav.nav-tabs { display: none;}
